.initial-image-container {
  margin: 0 auto;
  border-radius: 0 0 20px 20px;
  position: relative;
  background-color: #e0d8d8;
  width: 400px;
  min-width: 400px;
  height: 500px;
  max-height: 500px;
  min-height: 500px;
  background-image: url("../images/initial-image.jpg");
  background-size: cover;
}

.initial-image-header {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15%;
  left: 25%;
  color: white
}

.soft {
  font-weight: 300;
}
