.main-container {
  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  width: 400px;
  min-width: 400px;
  max-height: 500px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}

.weather-container {
  background-image: url("../images/weather-background.jpg");
  background-size: cover;
  border-radius: 0 0 20px 20px;
}
